@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", sans-serif; 
}
img{
    width: 100%;
}
.second-title{
    font-size:37px;
    font-weight: 800;
    color: rgba(39, 39, 39, 1);
}
.description{
    font-size:15px ;
    color:rgba(39, 39, 39, 0.6);
    margin: 25px 0;
}
.btn{
    padding: 12px 22px;
    background-color: #E55473;
    color: #ffff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 7px;
}

/* Header */
.header{
    padding-top: 50px;
    background-color: rgba(229, 84, 115, 0.1);
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 85%;
    margin: 0 auto;
    
}
.banner-text{
    width: 55%;
}
.banner-text h1{
    font-size: 60px;
    font-weight: 800;
    color: rgba(39, 39, 39, 1);
}
.banner-img{
    width: 45%;
}
/* Featured */
.featured{
    width: 85%;
    margin: 100px auto;
}
.featured-text{
    text-align: center;
    width: 50%;
    margin: 60px auto;
}
.featured-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.feature-images{
    text-align: center;
}
.feature-img{
    margin-bottom: 20px;
    width: 330px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    overflow: hidden;
    border-radius: 50% 50% 0 0;
}
.feature-img img{
    width: 200px;
    height: 290px;
}
.image-1{
    background-color: rgba(167, 33, 98, 0.15);
}
.image-2{
    background-color: rgba(5, 151, 160, 0.15);
}
.image-3{
    background-color: rgba(71, 125, 17, 0.15);
}
.feature-images a{
    font-weight: bold;
    color: black;
}
/* Featured-icon */
.featured-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(39, 39, 39, 0.05);
    padding: 60px 100px;
    margin: 100px 0;
}
.feature-icon{
    text-align: center;
}
.feature-icon a{
    text-decoration: none;
}
.feature-icon img{
    width: 75px;
    height: 75px;
    margin-bottom: 15px;
}
/* Offer */
.offer{
    background-color: rgba(229, 84, 115, 0.05);
    padding: 80px 0;
}
.offer-content{
    width: 78%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.offer-text{
    text-align: center;
    padding: 0 30px;
    width: 65%;
}
.offer-img{
    width: 30%;
}
/* Instra */
.instra{
    margin: 100px;
}
.instra-text{
    width: 50%;
    margin: 50px auto;
    text-align: center;
}
/* Subscribe */
.subscribe{
    background-image: url(./images/Rectangle\ 9.png);
    background-size: cover;
    width: 85%;
    padding: 100px 0;
    margin: 100px auto;
}
.subscribe-content{
    text-align: center;
}
.subscribe-form input[type=email]{
    padding: 12px;
    width: 50%;
    border-radius: 7px;
    border: none;
    margin-right: 10px;
}
/* Footer */
.footer{
    background-color: rgba(17, 16, 16, 1);
}
.footer-content{
    width: 40%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    color: #ffff;
}
.footer-text p{
    color: #ffff;
    font-size: 14px;
}
.footer-text h2 span, .offer-text span{
    color: #E55473;
}
.footer-text h6{
    color: rgba(255, 255, 255, 0.4);
}